@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
 	font-family: 'Noto Sans Japanese', serif;

	color: #ffffff;
	background-color: #3398CC;
}
section, section.data-markdown{
	color:#ffffff;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: #ffffff;
	text-transform: none;
}

/*引用のスタイル*/
p.legend{
	background: #70b7db;
	text-align: center;
	font-size: 24pt;
}
p.legend::before{
	content:"“";
	font-size:64px;
	line-height:1em;
	font-family: 'Passion One', cursive;
}

p.legend::after{
	content:"”";
	font-size:64px;
	line-height:1em;
	font-family: 'Passion One', cursive;

}

.reveal section img.no-border{
	background: none;
	border: none;
	box-shadow: none;
}

.reveal .progress span{
	background-color: #ade5ea;
}
/*
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled, 
.reveal .controls .navigate-right, .reveal .controls .navigate-left.enabled {
	border-right-color: #add6ea;
}
*/

code{
	background-color: #000000;
}

span.important{
	font-style: bold;
	color: #fff2b3;
}
