@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
 	font-family: 'Noto Sans Japanese', serif;

	color: #ffffff;
	background-color: #3398CC;
}
section, section.data-markdown{
	color:#ffffff;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: #ffffff;
	text-transform: none;
}